body {
    position: relative;
}

p {
   margin: 0;
   text-align: center; 
}

button {
    background: none;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 40px;
    position: absolute;
    z-index: 10;
}

button:hover {
    opacity: 0.4;
}

#ribbon {
    height: 200px;
    display: block;
    margin: 0 auto -120px auto;
}


#logout-hat {
    height: 180px;
    margin: 0 auto -120px 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    left: -5px;
    top: 20px;
}

/* #logout-hat:hover {
    cursor: pointer;
} */

#letter-hat {
    height: 180px;
    margin: 0 0 -120px auto;
    position: absolute;
    right: -5px;
    top: 20px;
}

.logout-text {
    left: 22px;
    top: 60px;
    transform: rotate(-15deg);
    font-size: 1.2em;
}

.letter-text {
    right: 20px;
    top: 58px;
    transform: rotate(15deg);
    font-size: 0.9em;
}