.present{
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    /* border-radius: 15px; */
    padding: 45px 15px 15px 15px;
    margin-bottom: 20px;
    /* background-image: url(../../assets/images/snow.jpg); */
    border: solid white 8px;
    position: relative;
    text-align: center;
}

body {
    margin: 100px 30px 30px 30px;
    background-color: rgba(220, 220, 220, 0.6);
    border-radius: 35px;
    border: solid rgb(255, 0, 34) 30px;
    padding: 20px;
    position: relative;
    background-image: url(../../assets/images/presents-background.jpg);
    background-size: cover;
}

.body {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

h1 {
    /* width: 60%; */
    display: block;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 60px auto auto auto;
    font-size: 3em;
}

h2 {
    /* width: 40%; */
    /* float: right; */
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 20px auto;
}

h3 {
    text-align: center;
    font-size: 1.7em;
    font-family: 'Raleway', sans-serif;
}

p {
   margin: 3px 0;
   text-align: center; 
}

.hat-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 40px;
    position: absolute;
    z-index: 10;
}

.hat-button:hover {
    opacity: 0.4;
}

#ribbon {
    height: 200px;
    margin-bottom: -120px;
    margin-left: -98.5px;
    position: absolute;
    top: -120px;
    left: 50%;
    display: none;
}


#logout-hat {
    height: 170px;
    margin: 0 auto -120px 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    left: -55px;
    top: -95px;
} 

#letter-hat {
    height: 180px;
    margin: 0 0 -120px auto;
    position: absolute;
    right: -55px;
    top: -100px;
}

.logout-text {
    left: -28px;
    top: -62px;
    transform: rotate(-15deg);
    font-size: 1.2em;
}

.letter-text {
    right: -30px;
    top: -64px;
    transform: rotate(15deg);
    font-size: 0.8em;
}

label {
    display: block;
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

input, textarea {
    width: 100%;
    border: solid white 2px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px;
}

button {
    display: block;
    color: black;
    margin: 3px auto;
    width: 90px;
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.6);
    border: solid white 2px;
}

button:hover {
    background-color: white;
}

.hat-button:hover {
    background-color: transparent;
}

.add-button {
    margin-top: 20px;
}

.current-data {
    width: 100%;
    margin-bottom: 50px;
}

.big {
    font-size: 2em;
}

.medium {
    font-size: 1.5em;
}

.small {
    font-size: 0.7em;
}

.left {
    text-align: left;
}

.thanked-checkbox {
    width: 40px!important;
    margin: 0 0 20px 0;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

.edit-present {
    position: absolute;
    top: 7px;
    left: 10px;
    cursor: pointer;
}

.delete-present {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

.cancel-edit {
    cursor: pointer;
}

.update-button {
    margin: 10px auto;
}

.slider {
    -webkit-appearance: none;
    height: 3px;
    background: white;
    border: none;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: black ;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: black ;
    cursor: pointer;
    border-radius: 50%;
}

#rating {
    color: black;
    font-size: 2em;
}

#update-form {
    font-size: 0.8em;
}

@media only screen and (min-width: 550px) {
    #ribbon {
        display: block;
    } 
}

@media only screen and (min-width: 750px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
    }
    
    .add-data {
        position: sticky;
        top: 40px;
    }

    .current-data {
        width: 55%;
    }

    input, textarea {
        width: 210px;
    }
}