<body>

<h1>
  Register
</h1>

<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
  
    <label for="name">Name</label>
    <input
      id="name"
      type="text"
      ngModel
      #name
      name="name"
      placeholder="Name"
      style="text-transform: capitalize;"
      required
    >
  
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      ngModel
      #email
      name="email"
      placeholder="example@example.com"
      required
    >
  
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      ngModel
      #password="ngModel"
      name="password"
      placeholder="Password"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
      required
    >

  
    <div *ngIf="password.touched && password.invalid" class="error-message">
      <p>Password must contain:</p>
      <ul>
        <li>At least 6 characters</li>
        <li>Both lowercase and uppercase letters</li>
        <li>Numbers</li>
      </ul>
    </div>
  
    <label for="confirmPassword">Confirm password</label>
    <input
      id="confirmPassword"
      type="password"
      ngModel
      #confirmPassword="ngModel"
      name="confirmPassword"
      placeholder="Must match password"
      required
    >

    <p *ngIf="confirmPassword.touched && password.value != confirmPassword.value" class="error-message">
      Passwords don't match
    </p>

  
    <button type="submit" [disabled]="registerForm.invalid || password.value != confirmPassword.value">
      Register
    </button>

    <p class="error-message">
      {{registerError}}
    </p>
  
  </form>

  <button class="bottom-buttons" routerLink="/login">Return to login</button>

</div>
 

</body>